#box-container{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
/* #box-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
} */
h4{
    text-align: center;
}
